@import url('https://fonts.google.com/specimen/Montserrat?query=mont');
@import url('https://fonts.google.com/specimen/Roboto?query=robot');

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}


body {
    background-image: url('../img/backgroundimg.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Roboto', cursive;
    text-align: center;
    color: lawngreen;
    size: 20px;
    background: linear-gradient(#27ff0a, #b4e8bed6);
    border: 4px solid rgba(0, 0, 0, 0.507);
    color: rgb(0, 0, 0);
}

p {
    color: snow;
    font-family: 'Roboto', cursive;
    font-size: 15px;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    border-radius: 5px;

}

h3 {
    font-family: 'Montserrat', cursive;
    color: aliceblue;
}

a:link,
a:visited {
    background-color: #40d513;
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

a:hover,
a:active {
    background-color: rgb(18, 156, 23);
}

.exclusivos {
    position: relative;
    left: 1380px;
    bottom: 1440px;
}

.borda {
    border-radius: 10px;
    border: 5px solid transparent;
    background: linear-gradient(45deg, rgba(9, 255, 0, 0.749), rgb(26, 87, 4)) border-box;
}

.conteúdo-principal {
    margin-bottom: 60px;
}

.botao {
    display: flex;
    justify-content: center;
}

.botaops {
    display: flex;
    justify-content: center;
}

